<div class="grid-container">
    <div class="grid-1">
        <div class="sidebar">
            <h2>Base Layers</h2>
            <input type="radio" name="baseLayerRadioButton" value="OSMStandard" checked>OSMStandard
            <input type="radio" name="baseLayerRadioButton" value="OSMHumanitarain">OSM Humanitarain
            <input type="radio" name="baseLayerRadioButton" value="StamenTerrain">Stamen Terrain
        </div>
    </div>
    <div class="grid-2">
        <div id='main-map' class="map"></div>
    </div>
</div>